django
djangorestframework
django-environ
django-allauth
django-robots
django-taggit
taggit-selectize
django-simple-history
rules
django-widget-tweaks
django-filter
django-markup
django-tailwind
django-browser-reload
drf-yasg
mysqlclient
django-auto-prefetch
black
importlib-metadata
python-dotenv
heroicons[django]
