{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <script>
      function colorScheme() {
        const isDarkThemeSet = localStorage.theme === 'dark';
        const isThemeStored = 'theme' in localStorage;
        const isDarkPrefered = window.matchMedia('(prefers-color-scheme: dark)').matches;

        try {
          if (isDarkThemeSet || (!isThemeStored && isDarkPrefered)) {
            document.documentElement.classList.add('dark')
          } else {
            document.documentElement.classList.remove('dark')
          }
        } catch (_) {}
      }

      colorScheme()
    </script>
    <meta charset="UTF-8">
    <title>
      {{ title }}
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="canonical" href="{{ CANONICAL_PATH }}">
    <link rel="shortlink" href="{{ CANONICAL_PATH }}">

    <meta name="theme-color" content="#B362FF">

    {% block additional_js %}{% endblock additional_js %}
    {% block additional_css %}{% endblock additional_css %}

    {% comment %} <script defer src="{% static 'vendor/node_modules/alpinejs/dist/cdn.min.js' %}"></script> {% endcomment %}
    <style>
      [x-cloak] { display: none !important; }
    </style>

    {% block rel %}
      <!-- base! favicon -->
      <link rel="shortcut icon" type="image/png" href="{% static 'keyboard_shortcuts/img/favicon.ico' %}">

      {% if not debug_flag %}
        {% tailwind_preload_css %}
      {% endif %}
      {% tailwind_css %}
    {% endblock rel %}
  </head>

  <body class="antialiased min-h-screen overflow-y-scroll bg-gray-50 dark:bg-jumbo-900 dark:text-jumbo-100">
    <main class="pt-8 pb-12 lg:pt-16 lg:pb-20">
      <section class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        {% block content %}
        {% endblock content %}
      </section>
    </main>



    <script>
      function themeOption(e) {
        let optionValue = e.target.id
        let localStorageValue = localStorage.getItem('theme')

        if (optionValue === 'system') {
          if (localStorageValue) {
            localStorage.removeItem('theme')
          }
        } else if (optionValue === 'dark') {
          localStorage.setItem('theme', 'dark')
        } else if (optionValue === 'light') {
          localStorage.setItem('theme', 'light')
        }

        colorScheme()
      }
    </script>
  </body>
</html>
