{% extends 'base.html' %}

{% block content %}
  <div class="mb-2">
    <a href="{% url 'shortcuts:shortcut_list' %}" class="underline hover:no-underline">Home</a>
  </div>

  <section class="prose prose-xl dark:prose-invert">
    <h1>{{ shortcut }}</h1>
    <p>{{ shortcut.description }}</p>

    {% if shortcut.how_to_activate %}
      <p>{{ shortcut.how_to_activate }}</p>
    {% endif %}

    {% if shortcut.default %}
      <h2>Default shortcut</h2>

      <a href="{{ shortcut.default.get_absolute_url }}" class="hover:no-underline">{{ shortcut.default }}</a>
    {% endif %}

    {% for sh in shortcut.modified.all %}
      {% if forloop.first %}
        <h2>Modified shortcut</h2>
      {% endif %}

      <a href="{{ sh.get_absolute_url }}" class="hover:no-underline">{{ sh }}</a>
    {% endfor %}

    <h3>Is default none?</h3>
    {{ shortcut.none_default|yesno|capfirst }}

    {% for sh in shortcut.related.all %}
      {% if forloop.first %}
        <h2>Related shortcuts</h2>
      {% endif %}

      <a href="{{ sh.get_absolute_url }}" class="hover:no-underline">{{ sh }}</a>
    {% endfor %}

    {% for application in shortcut.application.all %}
      {% if forloop.first %}
        <h2>Applications</h2>
      {% endif %}

      <a href="{{ application.get_absolute_url }}" class="hover:no-underline">{{ application }}</a>
    {% endfor %}
  </section>
{% endblock content %}
