{% extends 'base.html' %}

{% block content %}
  <div class="mb-2">
    <a href="{% url 'shortcuts:shortcut_list' %}" class="underline hover:no-underline">Home</a>
  </div>

  <section class="prose prose-xl dark:prose-invert">
    <h1>{{ shortcut }}</h1>
    <h2>{{ shortcut.key }}</h2>

    <p>{{ shortcut.description }}</p>

    {% if shortcut.command %}
      <h3>Command</h3>
      <p>{{ shortcut.command }}</p>
    {% endif %}

    {% if shortcut.how_to_activate %}
      {% load markdown_extras %}

      <p>{{ shortcut.how_to_activate|markdown|safe }}</p>
    {% endif %}

    {% if shortcut.default %}
      <h3 class="!mb-2">Default shortcut</h3>
      <div class="italic text-sm text-gray-500 mb-2 font-medium">The default value for this shortcut</div>

      <a href="{{ shortcut.default.get_absolute_url }}" class="hover:no-underline">{{ shortcut.default }}</a>
    {% endif %}

    {% for sh in shortcut.modified.all %}
      {% if forloop.first %}
        <h3 class="!mb-2">Modified shortcuts</h3>
        <div class="italic text-sm text-gray-500 mb-2 font-medium">All the shortcuts that had this value as their default</div>
      {% endif %}

      {% spaceless %}
        <a href="{{ sh.get_absolute_url }}" class="hover:no-underline mr-px">{{ sh }} (<span class="text-sm font-mono align-text-bottom">{{ sh.key }}</span>)</a>{% if not forloop.last %},{% endif %}
      {% endspaceless %}
    {% endfor %}

    {% for sh in shortcut.alternative.all %}
      {% if forloop.first %}
        <h3>Alternative shortcuts</h3>
      {% endif %}

      {% spaceless %}
        <a href="{{ sh.get_absolute_url }}" class="hover:no-underline mr-px">{{ sh }} (<span class="text-sm font-mono align-text-bottom">{{ sh.key }}</span>)</a>{% if not forloop.last %},{% endif %}
      {% endspaceless %}
    {% endfor %}

    {% for sh in shortcut.related.all %}
      {% if forloop.first %}
        <h3>Related shortcuts</h3>
      {% endif %}

      {% spaceless %}
        <a href="{{ sh.get_absolute_url }}" class="hover:no-underline mr-px">{{ sh }} (<span class="text-sm font-mono align-text-bottom">{{ sh.key }}</span>)</a>{% if not forloop.last %},{% endif %}
      {% endspaceless %}
    {% endfor %}

    {% for application in shortcut.application.all %}
      {% if forloop.first %}
        <h3>Applications</h3>
      {% endif %}

      <a href="{{ application.get_absolute_url }}" class="hover:no-underline">{{ application }}</a>
    {% endfor %}

    {% for category in shortcut.categories.all %}
      {% if forloop.first %}
        <h3>Categories</h3>
      {% endif %}

      <a href="{{ category.get_absolute_url }}" class="hover:no-underline">{{ category }}</a>
    {% endfor %}

    {% if shortcut.when %}
      <h3>When</h3>
      {{ shortcut.when }}
    {% endif %}

    <div>
      {{ shortcut.clicks }} click{{ shortcut.clicks|pluralize }}
    </div>
  </section>
{% endblock content %}
