{% extends 'base.html' %}

{% block content %}
  <a href="{% url 'shortcuts:shortcut_list' %}">Home</a>

  <section class="prose prose-xl dark:prose-invert">
    <h1>{{ shortcut }}</h1>
    <p>{{ shortcut.description }}</p>

    {% if shortcut.how_to_activate %}
      <p>{{ shortcut.how_to_activate }}</p>
    {% endif %}

    {% for sh in shortcut.default.all %}
      {% if forloop.first %}
        <h2>Default shortcut</h2>
      {% endif %}

      <a href="{{ sh.get_absolute_url }}" class="hover:no-underline">{{ sh }}</a>
    {% endfor %}

    {% for sh in shortcut.modified.all %}
      {% if forloop.first %}
        <h2>Modified shortcut</h2>
      {% endif %}

      <a href="{{ sh.get_absolute_url }}" class="hover:no-underline">{{ sh }}</a>
    {% endfor %}

    {% for sh in shortcut.related.all %}
      {% if forloop.first %}
        <h2>Related shortcut</h2>
      {% endif %}

      <a href="{{ sh.get_absolute_url }}" class="hover:no-underline">{{ sh }}</a>
    {% endfor %}

    <h2>Is default none?</h2>
    {{ shortcut.none_default|yesno|capfirst }}
  </section>
{% endblock content %}
